<div class="center jumbotron">
  <h1>Bem Vindo ao IoThingking</h1>

  <%= link_to "Página Principal", root_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h3>visite o nosso tutorial para aprender mais como usar nossa tecnologia</h3>

  <%= link_to "Tutorial", root_path, class: "btn btn-lg btn-primary" %>
</div>
