<div class="center">
  <h1>Bem Vindo ao IoThinking</h1>
  <h3>visite o nosso tutorial para aprender mais como usar nossa tecnologia</h3>

  <%= link_to "Tutorial", tutorial_path, class: "but" %>
</div>
